# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are summarized.

## __Objectives:__

* Popular Languages
* Commonly used Libraries
* Data Science Tools
* Examples of Arithmetic Expressions in Python Language

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. NumPy

| Data Science Tools |
| ------------------- |
| First Dev Environment: Pandas |
| Second Dev Environment: MySQL |
| Third Dev Environment: TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply the add integers

print((3*4)+5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = (minutes/60)
print(hours)

3.3333333333333335

## Author:
Jo√£o ricardo Jortieke Junior